<div class="user-details">
  <h1> My Life </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="My Love" src="{{ "/assets/img/adif.jfif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> My Love </h3>
    <ul>
      <li> An'nisa Andini </li>
    </ul>
    <p> Cinta adalah ketika kebahagiaan orang lain lebih penting dari kebahagiaanmu.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> My Work </h3>
    <ul>
      <li> Work At P.O Cipta Raharja </li>
    </ul>
    <p>Saya bekerja di sebuah P.O bus yaitu Cipta Raharja yang garasinya terletak di Demesan, Giriwoyo, Wonogiri</p>
    <a class="project-link" href="https://fb.com/ciptaraharjabus">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="My Hobby" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> My Hobby </h3>
    <ul>
      <li> All About Tech </li>
    </ul>
    <p> Semakin majunya jaman, perkembangan teknologi pun ikut berkembang dengan pesat yang membuat saya tertarik.</p>
  </div>
</div>  
</div>
